# Veritabanı bağlantı URL'si
DATABASE_URL="postgresql://neondb_owner:npg_lWsqM2Gu5oSQ@ep-noisy-wave-anv8iky0.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require"

# JWT ayarları
JWT_SECRET="f86488005702feebd711962632dc9c938726263be4eebca6df796ccdf20d9694c95fec146050e6f5e8436b21422dd588"
JWT_EXPIRATION="24h"

# Uygulama ayarları
PORT=3002
NODE_ENV=development

# Otomasyon eşik değerleri (isteğe bağlı)
MOISTURE_MIN=30
MOISTURE_MAX=60
TEMP_MAX=35
PH_MIN=5.5
PH_MAX=7.5
